.Description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.25rem;
  max-width: 1000px; /* Corregí "mad-width" a "max-width" */
  margin: 6rem auto;
  padding: 2rem 2.5rem;
  border-radius: 1.375rem;
}

.Description_button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.Description_button--border img {
  border: 3px solid $main-contrast; /* Asumiendo que $main-contrast es una variable definida */
}

.Description__imageContainer {
  position: relative;
  width: 500px;
  height: 150px;
}

.Description img {
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 4rem rgba(255, 255, 255, 0.2);
}

.Description_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Description_text > h2 {
  font-size: 2rem;
  font-weight: 600;
  color: $color-secondary; /* Asumiendo que $color-secondary es una variable definida */
  margin: 0;
}

.Description_text > p {
  font-size: 1.5rem;
  line-height: 1.75;
  color: $text-color; /* Asumiendo que $text-color es una variable definida */
}
