
& > h1 

    background-image: linear-gradient(#4f56ff, #ff4980)
    background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 7ren
    margin: 3ren 0
    margin-botton: 1ren
    letter-spacing: 0.5cm
    text-align: center



& > h2 

    font-size: 2ren
    margin: 0 0 3ren 0
    text-align: center
    color: $color-secondary
    
